<% layout('layouts/boilerplate') %>

<div class="row mt-4">
    <div class="col-12 col-md-8 offset-md-2">
        <h3 class="mb-4" style="font-weight: 700;">Edit your Listing</h3>
        
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" type="text" value="<%= listing.title %>" class="form-control" required />
                <div class="invalid-feedback">Title should be valid!</div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" rows="4" required><%= listing.description %></textarea>
                <div class="invalid-feedback">Enter valid Description.</div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="listing[category]" class="form-select" required>
                    <option value="rooms" <%= listing.category === "rooms" ? "selected" : "" %>>Room</option>
                    <option value="beaches" <%= listing.category === "beaches" ? "selected" : "" %>>Beach</option>
                    <option value="mountains" <%= listing.category === "mountains" ? "selected" : "" %>>Mountain</option>
                    <option value="apartments" <%= listing.category === "apartments" ? "selected" : "" %>>Apartment</option>
                    <option value="trending" <%= listing.category === "trending" ? "selected" : "" %>>Trending</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Original Listing Image</label>
                <div class="image-preview-container">
                    <img src="<%= originalImageUrl %>" alt="current_image" class="preview-img">
                </div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image</label>
                <input name="listing[image]" type="file" class="form-control" />
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" type="number" value="<%= listing.price %>" class="form-control" required />
                    <div class="invalid-feedback">Price should be valid!</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" type="text" value="<%= listing.country %>" class="form-control" required />
                    <div class="invalid-feedback">Country name should be valid!</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" type="text" value="<%= listing.location %>" class="form-control" required />
                <div class="invalid-feedback">Location should be valid!</div>
            </div>

            <div class="mt-4 mb-5">
                 <button type="submit" class="btn btn-dark edit-btn w-100">Update Listing</button>
             </div>
        </form>
    </div>
</div>